<% provide(:title, "products") %>

<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag login_path do %>
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username], class: "form-control" %>

        <%= label_tag :password %>
        <%= password_field_tag :password, '',class: "form-control" %>

        <%= label_tag :remember_me, nil, class: "checkbox inline"  do%>
            Remember me
            <%= check_box_tag :remember, params[:remember],
                              true, class: "check-remember" %>
        <% end %>

        <%= submit_tag "Log in", class: "btn btn-primary" %>
    <% end %>
    <p class="new-user">
        New user? <%= link_to "Sign up now!", signup_path %>
    </p>
  </div>
</div>
