<div class="container">
  <div class="header">
  	<nav class="navbar navbar-default">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  	        <span class="sr-only">toggle navigation</span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	      </button>
            <strong><%= link_to "dnlrmkv film store", root_url, class: "navbar-brand" %></strong>
  	    </div>

  	    <!-- Collect the nav links, forms, and other content for toggling -->
  	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  	      <ul class="nav navbar-nav">
  	        <li class="active"><%= link_to "products", products_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<% if current_user %>
          		<li class="navbar-text logged-text">
                logged in as <%= current_user.email %>
              </li>
              <li class="userpic">
                <%= image_tag(current_user.userpic.thumb) %>
              </li>
          		<li> <%= link_to "log out", logout_path, method: :delete %></li>
          	<% else %>
          		<li> <%= link_to "sign up", signup_path %></li>
          		<li> <%= link_to "log in", login_path %></li>
            <% end %>
          </ul>
  	    </div><!-- /.navbar-collapse -->
  	  </div><!-- /.container-fluid -->
  	</nav>
  </div>
</div>
