<% provide(:title, "products") %>
<% if current_user %>
<h1>Listing Products</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <% unless current_user.guest? %><th>Shop</th> <% end %>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% policy_scope(@products).each do |product| %>
      <tr>
        <td>
          <%= link_to product.name, product, class: "product-title"%>
          <% if product.pro %>
            <h6><span class="label label-default label-pro">PRO</span></h6>
          <% end %>
        </td>
        <td><%= product.description %></td>
        <% unless current_user.guest? %>
          <td><%= product.shop_name %></td>
        <% end %>
        <td><%= number_to_currency product.price %></td>
        <td><%= link_to image_tag(product.image.thumb), product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.shopkeeper? %>
  <%= link_to 'New Product', new_product_path, class: "btn btn-default"  %>
<% end %>
<% end %>
