<% provide(:title, "#{@product.name.downcase} | products") %>

<h1><%= @product.name %></h1>

<p> <%= @product.description %> </p>
<p> <%= number_to_currency @product.price %> </p>
<p> <%= image_tag @product.image, height: "600px" %> </p>

<p>
	<%= link_to 'Back', :back, class: "btn btn-default" %>
</p>
