<% provide(:title, "#{@product.name.downcase} | products") %>

<% if policy(@product).show? %>
  <div class="show-container">

    <h1> <%= @product.name %> </h1>

    <% if @product.pro %>
      <span class="label label-default label-pro">PRO</span>
    <% end %>

    <% if  current_user && current_user.admin? %>
        <%= link_to 'Switch PRO', pro_product_path,
            method: :patch, class: "btn btn-xs btn-default btn-switch" %>
    <% end %>
    <p/>
    <p> <%= @product.description %> </p>
    <p>
      <%= number_to_currency @product.price %>
      <%= "at #{@product.shop_name}" if (current_user && !current_user.guest?) %>
    </p>
    <p> <%= image_tag @product.image, height: "600px" %> </p>

    <% if current_user.guest? %>
      <p> <%= link_to 'Buy', buy_product_path,
            method: :post, class: "btn btn-default" %> </p>
    <% end %>
  </div>
<% end %>
